# POSTGRES_HOST
# For MAC 0.0.0.0
# For WIN localhost
# For Docker "database"
POSTGRES_HOST=0.0.0.0
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=postgres
POSTGRES_SSL=false
POSTGRES_SSL_REJECT_UNAUTHORIZED=true
POSTGRES_POOL_SIZE=10
PORT=3000
ALLOWED_ORIGINS=http://localhost:3000
PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n<your-rsa-private-key-here>\n-----END RSA PRIVATE KEY-----\n"
PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n<your-rsa-public-key-here>\n-----END PUBLIC KEY-----\n"
NODE_ENV="development"
